<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='Img/Ampolleta.png') }}" rel="icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/calculadora.css') }}">
</head>
<body>
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center justify-content-between">
    
          <div class="logo">
            <h1><a href="/"><span>Energías accesibles y renovables</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          </div>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="/objetivos">Preguntas</a></li>
              <li><a href="/equipo">Equipo</a></li>
              <li><a href="/calculadora">Calculadora</a></li>
              <li><a href="/bibliografía">Bibliografía</a></li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
        </div>
      </header><!-- End Header -->
    
      <!-- ======= Hero Section ======= -->
      <section id="hero">

        <div data-aos="zoom-out" class="inicio">
          <h1><span class="Título">Formulario</span></h1>



        </div>
        
      
    
        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
          <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
          </defs>
          <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
          </g>
          <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
          </g>
          <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
          </g>
        </svg>


    
      </section>
    <main>

        <div class="content">
            
            <form class="form-space" action="/resultados">

                <label for="ccomuna">Consumo mensual de energía:</label>
                <input type="text" id="ccomuna" name="consumo" placeholder="Ej: 100KWh..">

                <label for="mcuadrados">Superficie del hogar disponible para una instalación:</label>
                <input type="text" id="mcuadrados" name="costo" placeholder="Ej: 10m²..">

                <label for="dcorreo">Ingrese su Correo: </label>
                <input type="text" id="dcorreo" name="correo" placeholder="Ej: correo@dominio.example">

                <label for="nnombre">Ingrese su Correo: </label>
                <input type="text" id="nnombre" name="nombre" placeholder="Ej: yop">

                <label for="comuna">Comuna:</label>
                <select name="comuna" id=""comuna>
                    <option value="Cerrillos">Cerrillos</option>
                    <option value="Cerro Navia">Cerro Navia</option>
                    <option value="Conchalí">Conchalí</option>
                    <option value="El Bosque">El Bosque</option>
                    <option value="Estación Central">Estación Central</option>
                    <option value="Huechuraba">Huechuraba</option>
                    <option value="Independencia">Independencia</option>
                    <option value="La Cisterna">La Cisterna</option>
                    <option value="La Florida">La Florida</option>
                    <option value="La Granja">La Granja</option>
                    <option value="La Pintana">La Pintana</option>
                    <option value="La Reina">La Reina</option>
                    <option value="Las Condes">Las Condes</option>
                    <option value="Lo Barnechea">Lo Barnechea</option>
                    <option value="Lo Espejo">Lo Espejo</option>
                    <option value="Lo Prado">Lo Prado</option>
                    <option value="Macul">Macul</option>
                    <option value="Maipú">Maipú</option>
                    <option value="Ñuñoa">Ñuñoa</option>
                    <option value="Padre Hurtado">Padre Hurtado</option>
                    <option value="Pedro Aguirre Cerda">Pedro Aguirre Cerda</option>
                    <option value="Peñalolén">Peñalolén</option>
                    <option value="Pirque">Pirque</option>
                    <option value="Providencia">Providencia</option>
                    <option value="Pudahuel">Pudahuel</option>
                    <option value="Puente Alto">Puente Alto</option>
                    <option value="Quilicura">Quilicura</option>
                    <option value="Quinta Normal">Quinta Normal</option>
                    <option value="Recoleta">Recoleta</option>
                    <option value="Renca">Renca</option>
                    <option value="San Bernardo">San Bernardo</option>
                    <option value="San Joaquín">San Joaquín</option>
                    <option value="San José de Maipo">San José de Maipo</option>
                    <option value="San Miguel">San Miguel</option>
                    <option value="San Ramón">San Ramón</option>
                    <option value="Santiago">Santiago</option>

                </select>
                <input type="submit" value="Enviar">
            </form>

        </div>


    </main>
    <footer>

    </footer>





</body>
</html>