<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='Img/Ampolleta.png') }}" rel="icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transformando la energía en los hogares</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>
<body>
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center justify-content-between">
    
          <div class="logo">
            <h1><a href="index.html"><span>Energías accesibles y renovables</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          </div>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="/">Preguntas</a></li>
              <li><a href="equipo.html">Equipo</a></li>
              <li><a href="calculadora.html">Calculadora</a></li>
              <li><a href="bibliografía.html">Bibliografía</a></li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
        </div>
      </header><!-- End Header -->
    
      <!-- ======= Hero Section ======= -->
      <section id="hero" style="{{{ url_for('static', filename='../Img/Eloic\ energy2.png') }}}">
        <div class="container inicio">
            <div class="row justify-content-between">
              <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out" class="inicio">
                  <h1><span class="Título">¿Quienes Somos?</span></h1>
                  <h2 class="Info"> Somos un grupo de estudiantes que buscan dar a conocer los beneficios de las energías renovables por medio de nuestra web y nuestra calculadora</h2>

                </div>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                <img src="../Img/Eloic\ energy2.png" class="img-fluid animated" alt="">
              </div>
            </div>
          </div>
      
    
        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
          <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
          </defs>
          <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
          </g>
          <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
          </g>
          <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
          </g>
        </svg>


    
      </section>
    <main>
      <div class="objective">
        <h4>Nuestro objetivo:</h4>
        <p>Como equipo nuestro principal objetivo es, como se mencionó anteriormente, dar a conocer a la gente que las energías más baratas terminan siendo las renovables a un largo plazo, también señalarle a los usuarios que tan rentable se les haría hacer instalaciones de paneles solares en sus hogares por medio de nuesta calculadora </p>


      </div>
        <div class="comparación">
            <h4>¡Si se puede!</h4>
            <img src="/Img/Energías 2016.jpg" alt="Tabla de Energías 2021">
            <img src="/Img/Energías.jpg" alt="Tabla de Energías 2016">
            <h5>Como podemos ver en los gráficos, con el pasar de los años el consumo de energías no renovables a decaido, mientras que las energías más limpias y renovables han aumentado su presencia. El planeta necesita tu ayuda, el cambio está en nosotros.</h5>
        </div>

    </main>
    <footer>
    
    </footer>





</body>
<script src="/Js/main.js"></script>
</html>
