<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='Img/Ampolleta.png') }}" rel="icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/resultados.css') }}">
</head>
<body>
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center justify-content-between">
    
          <div class="logo">
            <h1><a href="/"><span>Energías accesibles y renovables</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          </div>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="inicio" href="/">Inicio</a></li>
              <li><a class="objetivos" href="/objetivos">Preguntas</a></li>
              <li><a class="equipo" href="/equipo">Equipo</a></li>
              <li><a class="calculadora" href="/calculadora">Calculadora</a></li>
              <li><a class="bibliografía" href="/bibliografía">Bibliografía</a></li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
        </div>
      </header><!-- End Header -->
    
      <!-- ======= Hero Section ======= -->
      <section id="hero">

    
        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
          <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
          </defs>
          <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
          </g>
          <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
          </g>
          <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
          </g>
        </svg>


    
      </section>
    <main>
        
        <div class="content">
            <div class="resultados">
                <h3>Resultados:</h3>
                <p>El coste de instalación de páneles solares en tu hogar es de $X pesos Chilenos</p>
                <p>El precio de instalación de paneles solares en un área de {{mcuadrados}}m² es de: {{costo}}</p>
                <p>Considerando que la producción de energía por paneles solares en un espacio de {{mcuadrados}}m² es de {{posible_energía}}KWh y que el precio promedio del KWh es de $78 pesos chilenos</p>
                <p>El costo de instalación vendría a ser: ${{costo}} pesos chilenos</p>
                <p>La producción de energía por los paneles, generaría aproximadamente: ${{gv_anual}} pesos anualmente</p>
                <p>El retorno estimado para el primer año de instalación es de : ${{ganancia}} pesos chilenos</p>

                <form href="/" class="form-space" action="/">
                    <input type="submit" value="Volver al inicio">
                </form>
            </div>

        </div>


    </main>
    <footer>

    </footer>





</body>
</html>